{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajout d'article</h1>

    {{ form_start(article_form) }}
    {{ form_row(article_form.title) }}
    <p>Pour le titre, commencez par une majuscule</p>
    {{ form_rest(article_form) }}
    <button>Ajouter</button>
    {{ form_end(article_form) }}

{% endblock %}