{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajout d'article</h1>

    {{ include('article/_form.html.twig', {submit_label: 'Ajouter'}) }}

    {% if is_granted('ROLE_ADMIN') %}
    <p>Vous êtes Admin</p>
    {% endif %}
{% endblock %}